<div class="loginContainar container">
    <div class="col-sm-3 col-md-3 col-md-offset-4 col-sm-offset-4">
        <form name="signinForm" novalidate>
            <h2 class="form-signin-heading">登录</h2>
            <p class="form-group">
                <input type="text" id="inputUser" name="inputUser" ng-maxlength="10" ng-minlength="2"
                       class="form-control" ng-model="user.userName" placeholder="请输入用户名2-10个字符" required>
            <span class="error text-danger" ng-show="(signinForm.inputUser.$dirty) && signinForm.inputUser.$error.required">
            用户名不能为空
            </span>
            <span class="error text-danger" ng-show="(signinForm.inputUser.$dirty) && signinForm.inputUser.$error.maxlength">
            长度不能大于10个字符
            </span>
             <span class="error text-danger" ng-show="(signinForm.inputUser.$dirty) && signinForm.inputUser.$error.minlength">
            长度不能小于2个字符
            </span>
            </p>
            <p>
                <input type="password" name="user_password" ng-model="vm.user.password"
                       required="" ng-maxlength="20" ng-minlength="6" class="form-control"
                       placeholder="请输入密码6-20个字符">
                <span class="error text-danger"
                      ng-show="(signinForm.user_password.$dirty) && signinForm.user_password.$error.required">密码不能为空！</span>
                <span class="error text-danger"
                      ng-show="(signinForm.user_password.$dirty) && signinForm.user_password.$error.maxlength">密码长度不能大于20个字符！</span>
                <span class="error text-danger"
                      ng-show="(signinForm.user_password.$dirty) && signinForm.user_password.$error.minlength">密码长度不能小于6个字符！</span>
            </p>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me">记住密码
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="signinForm.$invalid">登陆</button>
        </form>
    </div>
    </div>




