<div class="container" ng-controller="newsCtrl">
    <div class="row">
        <div class="col-sm-9 col-md-10">
            <div ng-repeat="n in items">
                <h1>
                    <a href="#/news/{{n._id}}"> {{n.title}}</a>
                    <small>{{n.createAt | date:'yyyy-MM-dd HH:mm:ss'}}</small>
                </h1>
                <p ng-bind-html="n.content"></p>
                <br>
                <a class="btn btn-default btn-lg" href="#/news/{{n._id}}">
                    查看全文
                </a>
                <hr>
            </div>
        </div>
    </div>
    <div class="text-center">
        <pager total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pager>
    </div>
</div>






