<div class="registerContainer container">
    <div class="col-sm-3 col-md-3 col-md-offset-4 col-sm-offset-4">
        <form name="registerForm" novalidate ng-controller="userCtrl">
            <h2 class="orm-signin-heading">欢迎您注册</h2>
            <p>
                <input type="email" id="email" ng-model="user.email" name="email" class="form-control"
                       placeholder="请输入您的email" required>
                <span class="text-danger error" ng-show="registerForm.email.$invalid && registerForm.email.$dirty">
                <span ng-show="registerForm.email.$error.required">
                        请输入您的Email
                 </span>
                    <span ng-show="registerForm.email.$error.email">非法的邮箱地址。</span>
            </span>
            </p>
            <p>
                <input type="text" id="name" ng-model="user.name" name="name" class="form-control" placeholder="请输入您的真实姓名"
                       required>
                <span class="error text-danger" ng-show="registerForm.name.$invalid && registerForm.name.$dirty">
                <span ng-show="registerForm.name.$error.required">您的真实姓名不能位空</span>
                    </span>
            </p>
            <p>
                <input type="password" name="password" ng-model="user.password"
                       required ng-maxlength="20" ng-minlength="6" class="form-control"
                       placeholder="请输入密码6-20个字符">
                <span class="error text-danger"
                      ng-show="(registerForm.password.$dirty) && registerForm.password.$error.required">密码不能为空！</span>
                <span class="error text-danger"
                      ng-show="(registerForm.password.$dirty) && registerForm.password.$error.maxlength">密码长度不能大于20个字符！</span>
                <span class="error text-danger"
                      ng-show="(registerForm.password.$dirty) && registerForm.password.$error.minlength">密码长度不能小于6个字符！</span>
            </p>

            <p>
                <input type="password" name="confirm_password" ng-model="user.password_verify" password-verify="user.password"
                       required ng-maxlength="20" ng-minlength="6" repeat="user_password" class="form-control"
                       placeholder="再次输入密码">
                <span class="error text-danger"
                      ng-show="(registerForm.confirm_password.$dirty) && registerForm.confirm_password.$error.required">密码不能为空！</span>
                <span class="error text-danger"
                      ng-show="(registerForm.confirm_password.$dirty) && registerForm.confirm_password.$error.maxlength">密码长度不能大于20个字符！</span>
                <span class="error text-danger"
                      ng-show="(registerForm.confirm_password.$dirty) && registerForm.confirm_password.$error.minlength">密码长度不能小于6个字符！</span>
                <span class="error text-danger"
                      ng-show="(registerForm.confirm_password.$dirty) && registerForm.confirm_password.$error.passwordVerify">两次密码输入不一致！</span>
            </p>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me" ng-model="user.rememberMe"><span class="text-primary">记住我</span>
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="registerForm.$invalid" ng-click="register(user)">
                注册
            </button>
        </form>
    </div>
</div>