<div class="modal-header">
    <form name="increaseNewsForm" novalidate>
        <h2 class="modal-title">添加新闻</h2>
        <div class="modal-body">
            <p>
                <input type="text" id="title" ng-model="news.title" name="title" class="form-control" placeholder="请输入新闻标题"
                       required>
                <span class="error text-danger"
                      ng-show="(increaseNewsForm.title.$dirty) && increaseNewsForm.title.$error.required">标题不能为空！
                </span>
            </p>
            <p>
                <input type="text" name="name" ng-model="news.name"
                       required class="form-control"
                       placeholder="请输作者">
                <span class="error text-danger"
                      ng-show="(increaseNewsForm.name.$dirty) && increaseNewsForm.name.$error.required">作者不能为空！
                </span>
            </p>
            <p>
                <textarea type="text" name="content" ng-model="news.content"
                          required class="form-control"
                          placeholder="请输入内容">
                </textarea>
                <span class="error text-danger"
                      ng-show="(increaseNewsForm.content.$dirty) && increaseNewsForm.content.$error.required">内容不能为空！</span>
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-default btn-primary col-sm-offset-1" type="submit" ng-disabled="increaseNewsForm.$invalid" ng-click="submit(news)">添加</button>
            <button class="btn btn-warning btn-default col-sm-offset-6" ng-click="cancel()">关闭</button>
        </div>
    </form>
</div>

