<!DOCTYPE html>
<html ng-app="technicalSalon">
<head>
    <title> technicalSalon</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">
    <link href="/stylesheets/animate.css" rel="stylesheet">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/angular-route.js"></script>
    <script src="/javascripts/angular-resource.js"></script>
    <script src="/javascripts/angular-animate.js"></script>
    <script src="/javascripts/ui-bootstrap.js"></script>
    <script src="/javascripts/ui-bootstrap-tpls.js"></script>
    <script src="/javascripts/marked.js"></script>
    <script src="/javascripts/angular-marked.js"></script>
  <script>
       angular.module("technicalSalon", ["ngRoute", "ngResource", "ngAnimate", "ui.bootstrap", "hc.marked"])
                .config(function ($routeProvider) {
                   $routeProvider.when("/users-manage", {
                       templateUrl: "/app/partials/admin/users-manage.html"
                   });
                   $routeProvider.when("/news-manage", {
                       templateUrl: "/app/partials/admin/news-manage.html"
                   });
                   $routeProvider.when('/message-manage',{
                       templateUrl:"/app/partials/admin/message-manage.html"
                   });
                   $routeProvider.when("/news/:id", {
                       templateUrl: "app/partials/admin/template/update-news.html"
                   });
                   $routeProvider.otherwise({
                        redirectTo:"/users-manage"
                    })
                })
    </script>
    <script src="/app/controller/common-ctrl.js"></script>
    <script src="/app/controller/user-ctrl.js"></script>
    <script src="/app/controller/news-ctrl.js"></script>
    <script src="/app/controller/message-ctrl.js"></script>
    <script src="/app/service/user-service.js"></script>
    <script src="/app/service/news-service.js"></script>
    <script src="/app/service/message-service.js"></script>


</head>
<body ng-controller="indicatorsCtrl">
<div ng-include="'/app/partials/template/nav.html'"></div>
    <div class="row" ng-controller="navCtrl">
        <div class="col-sm-2 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li ng-class="getClass('/user')"><a href="#/users-manage">用户</a></li>
                <li ng-class="getClass('/news-manage')"><a href="#/news-manage">新闻</a></li>
                <li ng-class="getClass('/message-manage')"><a href="#/message-manage">留言</a></li>
            </ul>
        </div>
    </div>
<ng-view></ng-view>
<div class="indicator-container">
    <div id="indicator" class="alert animated" ng-if="indicator" ng-class="getClass()">
        {{message}}
        <button ng-click="erase()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
</body>
</html>
