<!DOCTYPE html>
<html ng-app="technicalSalon">
<head>
    <title> technicalSalon</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/animate.css" rel="stylesheet">
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/angular-route.js"></script>
    <script src="/javascripts/angular-resource.js"></script>
    <script src="/javascripts/angular-animate.js"></script>
    <script src="/javascripts/ui-bootstrap.js"></script>
    <script src="/javascripts/ui-bootstrap-tpls.js"></script>
    <script>
        angular.module("technicalSalon", ["ngRoute", "ngResource", "ngAnimate", "ui.bootstrap"])
                .config(function ($routeProvider) {
                    $routeProvider.when("/news", {
                        templateUrl: "app/partials/news.html"
                    });
                    $routeProvider.when("/news/:id", {
                        templateUrl: "app/partials/news-details.html"
                    });
                    $routeProvider.when("/about-us", {
                        templateUrl: "app/partials/about-us.html"
                    });
                    $routeProvider.when("/login", {
                        templateUrl: "app/partials/login.html"
                    });
                    $routeProvider.when("/register", {
                        templateUrl: "app/partials/register.html"
                    });
                    $routeProvider.when("/users", {
                        templateUrl: "app/partials/users.html"
                    });
                    $routeProvider.when("/picture", {
                        templateUrl: "app/partials/picture.html"
                    });

                    $routeProvider.when("/index", {
                        templateUrl: "app/partials/index.html"
                    });
                    $routeProvider.otherwise({
                        redirectTo: "/index"
                    });
                })
    </script>
    <script src="/app/controller/common-ctrl.js"></script>
    <script src="/app/controller/news-ctrl.js"></script>
    <script src="/app/controller/datepicker-ctrl.js"></script>
    <script src="/app/controller/user-ctrl.js"></script>
    <script src="/app/controller/message-ctrl.js"></script>
    <script src="/app/service/news-service.js"></script>
    <script src="/app/service/user-service.js"></script>
    <script src="/app/directive/password-directive.js"></script>
</head>
<body ng-controller="indicatorsCtrl">
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="navCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/index">兰州大数据沙龙</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="getClass('/index')"><a href="#/index">首页</a></li>
                <li ng-class="getClass('/news')"><a href="#/news">新闻</a></li>
                <li ng-class="getClass('/about-us')"><a href="#/about-us">关于我们</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login">登录</a></li>
                <li><a href="#/register">注册</a></li>
                <li ng-controller="messageCtrl"><a href="" ng-click="open('submitMessageCtrl','md')" >给我们留言</a></li>
            </ul>
        </div>
    </div>
</nav>
<ng-view></ng-view>
<div class="indicator-container">
    <div id="indicator" class="alert animated" ng-if="indicator" ng-class="getClass()">
        {{message}}
        <button ng-click="erase()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">2015 兰州数云科技有限公司</p>
    </div>
</footer>
</body>
</html>
