<div class="col-xs-6 col-sm-3 sidebar-offcanvas navctainer" id="sidebar">
    <div class="list-group">
        <a class="list-group-item active">后台信息管理</a>
        <a ng-class="getClass('/users')" href="#/users" class="list-group-item">用户管理</a>
        <a ng-class="getClass('/department')" href="#/department" class="list-group-item">部门管理</a>
        <a ng-class="getClass('/news')" href="#/news" class="list-group-item">新闻管理</a>
        <a ng-class="getClass('/insideLetter')" href="#/insideLetter" class="list-group-item">站内信管理</a>
        <a ng-class="getClass('/picture')" href="#/picture" class="list-group-item">商品管理</a>
    </div>
</div>

