<div class="container-fluid" ng-controller="newsManagerCtrl">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">新闻 <a class="btn btn-default" href="/admin/news-editor"><span class="glyphicon glyphicon-ok"></span>新增</a></h1><br>
            <div class="input-group col-sm-4">
                <input type="text" class="form-control" placeholder="请输入新闻标题查询" ng-model="search">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search">搜索</span></span>
            </div>
            <hr>
            <div class="list-group" ng-repeat="n in items">
                <h4 class="list-group-item-heading">{{n.title}} <small>{{n.name}}</small>
                    <small>{{n.createAt | date:'yyyy-MM-dd HH:mm:ss'}}</small>
                    <button ng-click="openUpdateDialog(n,'updateNewsCtrl')" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span>修改</button>
                    <button class="btn btn-default btn-sm" ng-click="openDeleteDialog(n,'deleteNewsCtrl','sm')" ><span class="glyphicon glyphicon-remove"></span>删除</button>
                </h4>
                <div class="list-group-item-text" ng-bind-html="n.content"></div>
                <hr>
            </div>
            <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></pagination>
        </div>
    </div>
</div>